# Dependencies
nauty*
rdkit*

# UniverseGenerator
code/*/*.o
code/1.generate/adjmat2smiles
code/2.strain/eliminate-strained
code/3.unsaturate/unsaturate
code/4.functionalize/functionalize
code/5.decorate/decorate
code/6.substituents/activate-substituents
code/7.scaffold/activate-scaffold
code/8.superstructure/build-instructions
code/8.superstructure/build-superstructures

# Executables
bin/geng
bin/planarg
bin/showg
bin/adjmat2smiles
bin/corina
bin/molconvert
bin/obabel
bin/eliminate-strained
bin/unsaturate
bin/functionalize
bin/decorate
bin/activate-substituents
bin/activate-scaffold
bin/build-instructions
bin/build-superstructures

# Demo symbolic links
demo/8.superstructure/*single*
demo/8.superstructure/*double*
demo/8.superstructure/*triple*
demo/8.superstructure/*spiro*
